nav{
    display: flex;
    justify-content: space-around;
}

html{
    scroll-behavior: smooth;
}

#sec1{
    background-color: pink;
    height: 100vh;
}

#sec2{
    background-color: red;
    height: 100vh;
}

#sec3{
    background-color: orange;
    height: 100vh;
}

